html
{
    background: url("/caos_bg.jpg");
}
.uk-container
{
    background: #fff;
}
p,label,input,td,tr,b,li
{
    color:#444;
}
header
{
    border-bottom: solid 1px #ddd;
    position: relative;
}
#caos-text {
    color: #000;
    font-family: Impact;
    font-size: 40px;
    text-align: center;
    margin:0 auto;
}
@media (max-width: 920px) {
    .top-nav
    {
        display: block;
    }
}
@media (max-width: 720px) {
    #caos-text {
        font-size: 30px;
    }
    .caos-logo
    {
        width:100px;
    }
}
span.acronym {
    color: #5ba917;
}
a {
    color: #1e87f0;
}